.app {
    max-width: 600px;
    margin: 8px auto;
    padding: 0 8px;

}

.app-header {
    display: flex;
    justify-content: right;
}

.button {
    height: 31px;
    border-radius: 6px;
    border: 1px solid #AAA;;
}

.notice-error{
    color: red;
    font-weight: 600;
    font-size: 10px;
}